// CoreUI
@use '@coreui/coreui/scss/coreui' with (
    $font-family-sans-serif: (
        Instrument Sans,
        ui-sans-serif,
        system-ui,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        'Noto Color Emoji',
    ),
    $font-size-base: 0.9rem,
    $line-height-base: 1.6,
);
@use 'components/sidebar';
@use 'components/simplebar';
@use 'utilities/size';

// Fonts
@use 'bootstrap-icons/font/bootstrap-icons' with (
    $bootstrap-icons-font-dir: 'bootstrap-icons/font/fonts'
);
@import url('https://fonts.bunny.net/css?family=instrument-sans');
