$sizes: (
    '5': 1.25rem,
    '8': 2rem,
    '9': 2.25em,
);

@each $name, $size in $sizes {
    .size-#{$name} {
        height: $size !important;
        width: $size !important;
    }

    .h-#{$name} {
        width: $size !important;
    }

    .w-#{$name} {
        width: $size !important;
    }
}

.min-w-50 {
    min-width: 12.5rem !important;
}
